.wrapper

  = render 'shared/sidebar'

  .chat

    .chat-header
      .chat-header__left-box
        .chat-header__current-group
          = @group.name
        %ul.chat-header__member-list
          Member：
          %li.chat-header__member
            - @group.users.each do |user|
              = user[:name]

            
      .chat-header__edit-btn
        = link_to "Edit", edit_group_path(@group), class: "edit-link"

    .messages
      = render @messages

    .form
      = form_for [@group, @message], class: 'form__box' do |f|
        .form__input-box
          = f.text_field :body, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask-image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        .send-btn
          = f.submit 'Send', class: 'form__button'